<div class="container " style="padding-top:70px;">
	<div class="row">
	  <div class="col-md-10 col-md-offset-1">
      <h3 id="pageName" pName="{{name}}">{{name}}的信息</h3>
      <div class="col-md-2">
        <img ng-src="{{people.info.pic.big}}" style="width:100%"/>
      </div>
      <div class="col-md-8">
        <p isWatch="iswatch" id="watchP" ng-hide="myself">
          <button type="button" class="btn btn-info col-md-offset-4" ng-hide="iswatch" ng-click="watchPeo()" id="watchOk">关注</button>
          <button type="button" class="btn btn-info col-md-offset-4" ng-show="iswatch" ng-click="unwatchPeo()" id="watchNo">取消关注</button>
        </p>
        <p>特长:<span> {{people.info.Spec }}</span></p>
        <p>兴趣:<span> {{people.info.interest }}</span></p>
      </div>

      <div class="clearfix"></div>
      <h3>我的选择</h3>
      <table class="table table-bordered table-hover table-condensed" ng-controller="timeStock">
        <thead>
          <tr>
            <th>股票</th>
            <th>当前价</th>
            <th>涨跌额</th>
            <th>涨跌幅</th>
            <th>成交量</th>
            <th>市值</th>
            <th>52周最低</th>
            <th>52周最高</th>
          </tr>
        </thead>
        <tbody my-stock="<%= people.stock%>" id="stockList">
          <tr class="{{stock.zdBack}} {{stock.zdClass}}" ng-repeat="stock in stocks">
            <td><a href="stock/{{stock.symbol}}">{{stock.name}}({{stock.symbol}})</a></td>
            <td>{{stock.current}}</td>
            <td>{{stock.change | number:2}}</td>
            <td>{{stock.percentage}}</td>
            <td>{{stock.volume}}万</td>
            <td>{{stock.marketCapital}}亿</td>
            <td>{{stock.low52week}}</td>
            <td>{{stock.high52week}}</td>
          </tr>
        </tbody>
      </table>

      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#home" data-toggle="tab">话题</a></li>
        <li><a href="#profile" data-toggle="tab">Profile</a></li>
        <li><a href="#messages" data-toggle="tab" ng-click="watchTab()">关注({{ people.watch.length }})</a></li>
        <li><a href="#settings" data-toggle="tab" ng-click="fensTab()">粉丝({{ people.beWatch.length }})</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="home" ng-include="'app/mode/mytopic.html'" ng-controller="mytopic">
        </div>
        <div class="tab-pane" id="profile">
          <ul class="list-group">
            <li>Profile</li>
          </ul>
        </div>
        <div class="tab-pane" id="messages">
          <ul class="list-group">
            <li class="list-group-item col-md-3 col-md-offset-1" ng-repeat="look in looks">
              {{look.name}}
              <button type="button" class="btn btn-danger btn-xs pull-right" ng-show="{{look.watch}}">关注</button>
              <button type="button" class="btn btn-danger btn-xs pull-right" ng-show="{{look.unwatch}}">取消</button>
            </li>
          </ul>
        </div>
        <div class="tab-pane" id="settings">
          <ul class="list-group">
            <li class="list-group-item col-md-3 col-md-offset-1" ng-repeat="fen in fens">
              {{fen.name}}
              <button type="button" class="btn btn-danger btn-xs pull-right" ng-show="{{fen.watch}}">关注</button>
              <button type="button" class="btn btn-danger btn-xs pull-right" ng-show="{{fen.unwatch}}">取消</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
	</div>
</div>

<!-- <script src="js/tgy/topic.js"></script>
<script src="js/tgy/peo.js"></script> -->