<%- include top %>
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">Money</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="../getting-started">首页</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">广场<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/baike">行情</a></li>
              <li><a href="/baike">行情</a></li>
              <li><a href="/baike">行情</a></li>
              <li><a href="/baike">行情</a></li>
            </ul>
        </li>
        <li>
          <a href="../components">设置</a>
        </li>
        <li>
          <a href="../components">设置</a>
        </li>
        <li>
          <a href="../components">设置</a>
        </li>
        <li>
          <a href="../components">设置</a>
        </li>
      </ul>

<!--       <div class="navbar-form navbar-right">
        <div class="form-group ">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
        </ul>
      </div> -->
      <ul class="nav navbar-nav navbar-right">
      	<li>
	          <a href="../components">tangguangyao</a>
	        </li>
	        <li>
	          <a href="../components">设置</a>
	        </li>
      </ul>


    </nav>

  </div>
</header>