<%- include header %>

<div class="container " style="padding-top:70px;">
	<div class="row">
	  <div class="col-md-10 col-md-offset-1">
      <h3>我的资金</h3>
      <div class="col-md-2">
        <img src="images/4.jpg" style="width:100%"/>
      </div>
      <div class="col-md-8">
        <h3>guang<button type="button" class="btn btn-info col-md-offset-4">关注</button><button type="button" class="btn btn-info col-md-offset-1">发私信</button></h3>
        <p>介绍</p>
        <p>信息</p>
      </div>

      <div class="clearfix"></div>
      <h3>我的选择</h3>
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr class="success">
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr class="danger">
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr class="danger">
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr class="danger">
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>

      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
        <li><a href="#profile" data-toggle="tab">Profile</a></li>
        <li><a href="#messages" data-toggle="tab">Messages</a></li>
        <li><a href="#settings" data-toggle="tab">Settings</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <ul class="list-group">
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
          </ul>
        </div>
        <div class="tab-pane" id="profile">
          <ul class="list-group">
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
          </ul>
        </div>
        <div class="tab-pane" id="messages">
          <ul class="list-group">
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
          </ul>
        </div>
        <div class="tab-pane" id="settings">
          <ul class="list-group">
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
            <li>asdasd</li>
            <li>adsad</li>
            <li>adas</li>
          </ul>
        </div>
      </div>

    </div>
	</div>
</div>

<%- include footer %>