<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>money</title>
<base href="/" />
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-theme.css" rel="stylesheet">
<link href="css/index.css" rel="stylesheet">
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/angular.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script>
var xueqiuUrl="key=47bce5c74f&access_token=S8nfhytJNtRNHoV9ntmtHY&_=1392196535991";
//雪球接口长变化的参数
</script>
</head>
<body >