/*首页*/
.point{
	cursor: pointer;
}
.carousel-inner img{
	width: 100%;
}
li{
	list-style: none;
}
.green{
	color: green;
}
.red{
	color: red;
}
#loginOut{
	cursor: pointer;
}
#stockTableShow{
	color: #666;
}
#stockTableShow span{
	color: #333;
}
.myTalk{
text-align: right;
padding-right: 40px;
color: red;
}
.lookTalkMessage{
text-align: center;
cursor: pointer;
color: blue;
}