/*首页*/
.point{
	cursor: pointer;
}
.carousel-inner img{
	width: 100%;
}
li{
	list-style: none;
}
.green{
	color: green;
}
.red{
	color: red;
}
#loginOut{
	cursor: pointer;
}
#stockTableShow{
	color: #666;
}
#stockTableShow span{
	color: #333;
}
#stockAdoutName li{
	height: 30px;
	line-height: 30px;
	text-indent: 2em;
}